<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="signup">
        <!-- x-www-urlencoded -->
        <input name="name" type="text">

        <input name="username" type="text">
        <input type="date" name="birthday">

        <input type="email" name="email">
        <input type="password" name="password">
        <input type="password" name="confirmPassword">
        <button>Registrarme</button>
    </form>
    <p id="message"></p>

    <script>
        const signup = document.getElementById("signup")
        const message = document.getElementById("message")
        signup.onsubmit = function(event){
            event.preventDefault()

            fetch("/registro",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    email:signup.email.value,
                    username:signup.username.value,
                    name:signup.name.value,
                    birthday:signup.birthday.value,
                    password:signup.password.value
                })
            }).then(function(result){
                console.log(result)
                return result.json() // Devuelve un promesa
            })
            .then(function(data){
                
                if(data.error){
                    message.innerText = data.message
                }else{
                    console.log(data.user)
                    message.innerText = ""
                    // Guardar data en el navegador
                    // Redirección
                }

                
            })
            .catch(function(error){
                console.log(error)
            })
        }
    </script>
</body>
</html>