<nav>
    <ul>
        <li><a href="/">
            Home
        </a></li>
        <li><a href="/login">
            Login
        </a></li>
        <li><a href="/signup">
            Sign up
        </a></li>

        <% if (user.loggedIn) { %>
            <li>
                <%= user.name %> 
            </li>
        <% } %>
    </ul>
</nav>