<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/food">Food</a>
        </li>

        <% if (locals.user && locals.user.loggedIn) { %>
            <li>
                <%= user.name %> 
            </li>
            <li>
                <a href="/auth/logout">Log out</a>
            </li>
            
            <% if (user.role==="ADMIN") { %>
                <li>
                    <p>Admin</p>
                    <li>
                        <a href="/food/addFood">Add Food</a>
                    </li>
                    <li>
                        <a href="/admin/users">Users</a>
                    </li>
                </li>
            <% } %>
            
        <% }else{ %>
            <li><a href="/auth/login">
                Login
            </a></li>
            <li><a href="/auth/signup">
                Sign up
            </a></li>
        <%}%>
    </ul>
</nav>