nav(class="bg-gray-900")
    ul(class="flex text-white p-5 gap-5")
        li 
            a(href="/") Home 
        li 
            a(href="/login") Login 
        li 
            a(href="/") Link
        li 
            a(href="/") Link 
        li #{username}