doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
        link(rel="stylesheet", href="/css/styles.css")
    body
        //- hiddenNavbar -> true se oculta el elemente
        //- unless hiddenNavbar 
            include ../components/navbar.pug
        if !hiddenNavbar
            include ../components/navbar.pug
        //- include ../components/navbar.pug
        
        block content