<form action="/signup" method="post">
    <input type="text" name="name" id="" placeholder="Name...">
    <input type="date" name="birthday" id="">
    <input type="email" name="email" id="" placeholder="Email...">
    <input type="password" name="password" id="" placeholder="Password...">
    <button>Sign up</button>
</form>