extends layouts/main-layout.pug

block title 
    title Login

block content 
    h1 Hola mundo
    p(class="text-red-500") Tzuzul
    p(class="text-green-400") Otro texto
    p(class="text-purple-400") Otro texto

    p(class="text-blue-600") #{id}

    each user in lista
        div
            p #{user}